<npdc-edit-button class="np-primary-control"></npdc-edit-button>

<div class="np-padding">

  <!-- Multiple vessels? -->
  <div ng-if="vessels" ng-repeat="vessel in vessels" >
    <a href="{{vessel.id|a}}">{{vessel.name}} </a> {{vessel | json}}
  </div>

  <article ng-if="!vessels">

    <div ng-if="vessel && vessel.id && vessel.name">

      <section>
        <h1>{{ vessel.name }}</h1>
        <div>
          <a ng-href="?filter-type={{ vessel.type || a }}">{{vessel.type}}</a> from
          <a ng-href="?filter-built_where={{ vessel.built_where || a }}">{{vessel.built_where || "unkown builder"}}</a>, built in
          <a ng-href="?filter-built_year={{ vessel.built_year }}">{{vessel.built_year || "unkown year"}}</a>.
        </div>
      </section>

      <section ng-if="vessel.images">
        <span ng-repeat="img in vessel.images">
          <figure><a ng-href="{{img.href}}" ng-init="attr = img.title +' ('+ img.attribution+')'"><img ng-src="{{img.href}}"
            width="50%" alt="{{attr}}" title="{{attr}}" />
          </a>
          <br/><figcaption>{{attr}}</figcaption>
          </figure>
        </span>
        <span></span>
      </section>

      <!--<h3>References</h3>
      <md-divider></md-divider>-->



      <section>

        <h3>History</h3>
        <p ng-bind-html="history"></p>

        <p ng-if = "vessel.shipwrecked_year">{{ vessel.shipwrecked_year }}: Shipwrecked. Location: {{ vessel.shipwrecked_location }}.</p>
      </section>
      <md-divider></md-divider>

      <section ng-if="vessel.links.length > 0">
        <h3>Links</h3>
        <ul ng-repeat="link in vessel.links">
          <li><a ng-href="{{link.href}}">{{ link.title || link.href }}</a></li>
        </ul>
      </section>


      <h3>Owners</h3>
      <ul ng-repeat="owner in vessel.owners">
        <li>{{ owner.from }} <a ng-href="?q={{owner.name}}">{{ owner.name}}</a>, <a ng-href="?q={{owner.location}}">{{ owner.location }}</a></li>
      </ul>
      <md-divider></md-divider>

      <h3>Registrations</h3>
      <div ng-repeat="r in vessel.registrations">
        <dt>{{ r.registered }}</dt>
        <dd>{{ r.code }}</dd>
      </div>
      <md-divider></md-divider>

      <h3>Harbours</h3>
      <div layout-padding>
        <p>{{ vessel.harbours.join(", ") }}.</p>
      </div>
      <md-divider></md-divider>

      <h3>Description</h3>
      <div layout-padding>
        <p>{{ vessel.description }}</p>
      </div>
      <md-divider></md-divider>

      <h3>Sources</h3>
      <div layout-padding>
        <p style="white-space: pre;">{{ vessel.sources }}</p>
      </div>
      <md-divider></md-divider>

      <h3>Caption</h3>
      <div layout-padding>
        <p>{{ vessel.caption }}</p>
      </div>
      <md-divider></md-divider>

       <div ng-show="vessel.id" layout-padding>
        <p>Mentioned by: <span ng-repeat="v in mentioned"><a ng-href="{{v.id || a }}">{{ v.name }}</a> | </span></p>
        <p>Years: <span ng-repeat="y in years"><a ng-href="?q={{y}}">{{ y }}</a> | </span></p>
      </div>

    <npdc:metadata document="vessel" resource="resource"></npdc:metadata>
    </div>

  </article>
</div>
